In [6]:
# import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

# Suppress warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('3_df_pak.csv')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1371 entries, 0 to 1370
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   job_title_short        1371 non-null   object
 1   job_title              1371 non-null   object
 2   job_location           1371 non-null   object
 3   job_via                1371 non-null   object
 4   job_schedule_type      1370 non-null   object
 5   job_work_from_home     1371 non-null   bool
 6   search_location        1371 non-null   object
 7   job_posted_date        1371 non-null   object
 8   job_no_degree_mention  1371 non-null   bool
 9   job_health_insurance   1371 non-null   bool
 10  job_country            1371 non-null   object
 11  salary_rate            12 non-null     object
 12  salary_year_avg        10 non-null     float64
 13  salary_hour_avg        1 non-null      float64
 14  company_name           1371 non-null   object
 15  job_skills             1216 non-null   object
 16  job_type_skills        1216 non-null   object
dtypes: bool(3), float64(2), object(12)
memory usage: 154.1+ KB

In [10]:
df

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Data Engineer,Data Science Engineer (Remote Job for Japan Co...,"Karachi, Pakistan",via Indeed,Full-time,False,Pakistan,2023-03-01 13:19:38,False,False,Pakistan,NaN,NaN,NaN,TouchPoint,"['java', 'scala', 'python', 'sql']","{'programming': ['java', 'scala', 'python', 's..."
1,Data Engineer,Senior Consultant - Data Engineer,Pakistan,via Jooble,Full-time,False,Pakistan,2023-09-13 13:14:17,True,False,Pakistan,NaN,NaN,NaN,"ThoughtWorks, Inc.","['nosql', 'cassandra', 'aws', 'azure', 'kafka'...","{'cloud': ['aws', 'azure'], 'databases': ['cas..."
2,Machine Learning Engineer,Machine Learning Engineer,"Islamabad, Pakistan",via Indeed,Full-time,False,Pakistan,2023-05-25 13:30:41,False,False,Pakistan,NaN,NaN,NaN,eMumba,"['python', 'go', 'pandas', 'scikit-learn']","{'libraries': ['pandas', 'scikit-learn'], 'pro..."
3,Machine Learning Engineer,ML Engineer,"Lahore, Pakistan",via Indeed,Full-time,False,Pakistan,2023-06-22 13:19:25,False,False,Pakistan,NaN,NaN,NaN,NKU Technologies Pvt.Ltd.,"['python', 'r', 'java', 'tensorflow', 'pytorch...","{'libraries': ['tensorflow', 'pytorch', 'sciki..."
4,Data Scientist,Senior Data Scientist Jobs,"Karachi, Pakistan",via Jobiflix.online,Full-time,False,Pakistan,2023-01-01 13:40:38,False,False,Pakistan,NaN,NaN,NaN,Afiniti,"['python', 'r', 'sql', 'scikit-learn', 'mlr']","{'libraries': ['scikit-learn', 'mlr'], 'progra..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1366,Machine Learning Engineer,Machine Learning Engineer,Anywhere,via LinkedIn Pakistan,Contractor,True,Pakistan,2023-01-25 06:19:05,False,False,Pakistan,NaN,NaN,NaN,Barbarians,"['python', 'r', 'mongodb', 'mongodb', 'mysql',...","{'analyst_tools': ['tableau', 'excel'], 'cloud..."
1367,Data Analyst,Data Analyst,Anywhere,via LinkedIn,Full-time,True,Pakistan,2023-09-28 06:16:17,False,False,Pakistan,NaN,NaN,NaN,flowershop.ae,"['sql', 'python', 'excel', 'sheets']","{'analyst_tools': ['excel', 'sheets'], 'progra..."
1368,Machine Learning Engineer,Machine Learning Engineer,"Lahore, Pakistan",via LinkedIn,Full-time,False,Pakistan,2023-10-06 06:16:08,False,False,Pakistan,NaN,NaN,NaN,Khazana Enterprise,"['python', 'java', 'r', 'keras', 'pytorch', 's...","{'libraries': ['keras', 'pytorch', 'scikit-lea..."
1369,Data Engineer,Data Engineer - Datastage Consultant,"Islamabad, Pakistan",via LinkedIn Pakistan,Full-time,False,Pakistan,2023-01-18 06:18:01,False,False,Pakistan,NaN,NaN,NaN,Teradata,"['sql', 'shell', 'python', 'nosql', 'mongodb',...","{'cloud': ['azure', 'aws'], 'databases': ['mon..."
1370,Senior Data Scientist,Senior Analytics Engineer I,"Islamabad, Pakistan",via Startup Jobs,Full-time,False,Pakistan,2023-01-05 06:46:05,True,False,Pakistan,NaN,NaN,NaN,PMCL-JAZZ,['oracle'],{'cloud': ['oracle']}

In [11]:
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1371 entries, 0 to 1370
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   job_title_short        1371 non-null   object
 1   job_title              1371 non-null   object
 2   job_location           1371 non-null   object
 3   job_via                1371 non-null   object
 4   job_schedule_type      1370 non-null   object
 5   job_work_from_home     1371 non-null   bool
 6   search_location        1371 non-null   object
 7   job_posted_date        1371 non-null   datetime64[ns]
 8   job_no_degree_mention  1371 non-null   bool
 9   job_health_insurance   1371 non-null   bool
 10  job_country            1371 non-null   object
 11  salary_rate            12 non-null     object
 12  salary_year_avg        10 non-null     float64
 13  salary_hour_avg        1 non-null      float64
 14  company_name           1371 non-null   object
 15  job_skills             1216 non-null   object
 16  job_type_skills        1216 non-null   object
dtypes: bool(3), datetime64[ns](1), float64(2), object(11)
memory usage: 154.1+ KB

In [ ]:
from eda_functions import convert_job_skills
df['job_skills'] = df['job_skills'].apply(convert_job_skills)

unique_types = df['job_skills'].apply(type).unique()
unique_types